<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="./style/style.css">
<bot></bot>
<!-- <iframe id='targetFrame' src="https://elegant-kirch-284b6d.netlify.app/?phone=9926761055&name=DEMO&img=https://www.w3.org/TR/2017/CR-html52-20170808/images/clara.png" ></iframe>  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="./js/index.js"></script>
