
.container{
    position: absolute;
    bottom:0;
    width: 0px;
    height: 711px;
    border-bottom-left-radius: 19px 19px; 
    border-bottom-right-radius: 19px 19px;
    border-top-left-radius: 18px 18px; 
    border-top-right-radius: 18px 18px;
}
.container .chat-buttons {
    position: absolute;
    bottom:0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aliceblue;
    /* background-color: rgb(68,68,68); */
    box-shadow:
    0 2.8px 2.2px rgba(192, 192, 192, 0.12),
    0 6.7px 5.3px rgba(192, 192, 192, 0.12),
    0 12.5px 10px rgba(192, 192, 192, 0.12),
    0 22.3px 17.9px rgba(192, 192, 192, 0.12),
    0 41.8px 33.4px rgba(192, 192, 192, 0.12),
    0 100px 80px rgba(192, 192, 192, 0.12);
    bottom: 10px;
}
.chat-buttons:hover{
    cursor: pointer;
}
.container .small-icon{
    position: absolute;
    bottom:0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    bottom: 60px;
    left: 50px;
    z-index: 999;
}
.container .small-icon2{
    position: absolute;
    bottom:0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(95, 255, 46);
    top: 70px;
    left: 61px;
    z-index: 999;
}
.container .chat-buttons .whatsapp-logo{
    position: absolute;
    top: 15px;
    right: 13px;
}

.container .chat-container{
    position: absolute;
    border-radius: 5% rgb(126, 126, 126);
    bottom:0;
    top: 262px;
    height: 360px;
    width: 310px;

}

.container .whatsapp {
    background-color: rgb(255, 255, 255);
    height: 90px;
    width:auto;
    position: relative;
    border-bottom-left-radius: 19px 19px; 
    border-bottom-right-radius: 19px 19px;
    margin: 0;
    top: -13px;
    padding:0
}

.container .chat-container .chat-area{
    background: #efe7dd url(/assets/bg2.png) repeat;
    height: 179px;
}

.container .chat-container .chat-header{
    background-color: rgb(9, 94, 84);
    height: 100px;
    width:auto;
    border-top-left-radius: 18px 18px; 
    border-top-right-radius: 18px 18px;
    margin: 0;
    padding:0

}

.container .whatsapp .whatsapp-button{
    position: absolute;
    background-color: rgb(79, 206, 93);
    bottom: 32px;
    right: 37px;
    height: 50px;
    width:250px;
    border-radius: 30px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 0;
    padding:0
}

.container .whatsapp .whatsapp-button:hover{
    cursor: pointer;
}

.container .whatsapp .whatsapp-button .chat-icon{
    position: absolute;
    right:160px;
    top: 8px;
}
.container .whatsapp .whatsapp-button .chat-text{
    position: absolute;
    right:62px;
    font-family: "Helvetica";
    color:#ffffff;
    font-size: 20px;
    top: 13px;
}


/* getting some issue to show */
.container .chat-container .chat-area .chat-point{
    position: absolute;
    height: 150px;
    height: 50px;
    bottom: 110px;
    right:50px;
    background: #ffffff;

}
.container .chat-container .chat-area .chat-box {
    position: absolute;
    height: 115px;
    width: 170px;
    bottom: 114px;
    right: 122px;
    border-radius:10%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.12),
    0 6.7px 5.3px rgba(17, 17, 17, 0.12),
    0 12.5px 10px rgba(19, 18, 18, 0.12),
    0 22.3px 17.9px rgba(22, 22, 22, 0.12),
    0 41.8px 33.4px rgba(32, 32, 32, 0.12),
    0 100px 80px rgba(32, 32, 32, 0.12);
    background-color: #ffffff;
    text-align: left;
}

.container .chat-container .chat-area .chat-text {
    position: absolute;
    font-family: "Helvetica";
    top: 38px;
    right: 9px;
}

.container .chat-container .chat-area .chat-tital{
    color: rgb(126, 126, 126);
    position: absolute;
    font-family: "Helvetica";
    font-weight: 600;
    height:20px;
    left: 18px;;
    text-align: left;
    top: 12px;
}

.container .chat-container .chat-header .close {
    position: absolute;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Helvetica";
    top: 18px;
    right:20px;
  }

  /* .container .chat-container .chat-header .logo{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    right: 255px;
    border-radius: 50%;
  } */

  .container .chat-container .chat-header .logo .logo-img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 26px;
    right: 240px;
    border-radius: 50%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .container .chat-container .chat-header .hosp-name{
    position: absolute;
    width:240px;
    height: 50px;
    top: 30px;
    color: rgb(255, 255, 255);
    font-family: "Helvetica";
    font-weight: 700;
    left: 87px;
  }

  .container .chat-container .chat-header .hosp-name-text{
    position: absolute;
    width:240px;
    height: 50px;
    top: 55px;
    color: #ffffff;
    font-family: "Helvetica";
    left: 87px;
  }

  .powered-text{
      text-align: center;
      color:  #31326f;
      position: relative;
      top: 63px;
      font-size: small;
      font-weight: 600;
  }

  .prescribe-logo{
      position: relative;
      height: 15px;
      width: 15px;
      margin-right: 2px;
      top: 3px;
  }

